.button-list {
    box-sizing: border-box;
    background-color: #defdfd;
    width: 400px;
    border: 1px solid #8c9799;
    height: 30px;
}

.button-list:hover {
    background-color: #bad4d4;
    border: 1px solid #686f70;
}

