.button-element{
    all: unset;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.element-list{
    position: fixed;
    left:350px;
    background-color: rgba(99, 73, 2, 0.658);
    width: 400px;
    border-radius: 2px;
    height: 100vh;
    top: 0;
}