.button-element{
    all: unset;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.element-list{
    position: fixed;
    left:350px;
    background-color: rgb(187, 176, 147);
    width: 400px;
    height: 100vh;
    top: 0;
}

.element-list-menu{
    list-style: none;
}

.element{
    width: 340px;
    height: 30px;
    background-color: rgb(244, 247, 247);
    border-radius: 3px;
    display: flex;
    justify-content: left;
    align-items: center;    
    cursor: pointer;
    padding-left: 5px;
}

.element-add{
    position: fixed;
    top: 0;
    left: 750px;
    list-style: none;
    width: 35px;
    height: 35px;
    background-color: rgb(110, 235, 93);
}

.button-plan{
    position:fixed;
    top: 35px;
    left: 750px;
    list-style: none;
    width: 35px;
    height: 35px;
    background-color: rgb(93, 138, 235);
}
